body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}


.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.center {
  text-align: center;
}

.question-list {
  flex-wrap: wrap;
  width: 100%;
  max-width: 490px;
  padding: 10px;
  justify-content: space-around;
  padding: 1em 0;
  text-align: left;
}


.question {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background: #eee;
  padding: .6em 1em .6em .6em;
  margin-bottom: 1em;
  border-radius: .3em;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px;
  border: solid 1px #ccc;
}

.question-header {
  flex: 0 0 100%;
  background: white;
  height: 40px;
}
.question-header * {margin:3px 6px}

.question-body {
  display: flex;
  flex-direction: row;
  flex: 0 0 100%;
}

.column1 {
  flex-direction: column;
  margin-right: 30px;
}

.column2 {
  flex-direction: column;
  width: 100%;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.question-title {
  font-weight: bold;
  margin: 10px 6px 6px 0px;
}

.question-text {
  margin: 0px 0px 5px 15px;
  flex: 0 0 100%;
}

.view-poll-button {
  margin: 10px 10px 0px 0px;
  flex-direction: row;
  flex: 0 0 100%;
}

.view-poll-button .btn {
  width: 100%
}

.new-question {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #eee;
  padding: .6em 1em .6em .6em;
  margin-bottom: 1em;
  border-radius: .3em;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px;
  border: solid 1px #ccc;
}

.new-question input {
  flex: 1;
  display: block;
  margin-bottom: 10px;
  padding: 5px;
}

.question-results {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  width: 100%;
  background: #eee;
  padding: .6em 1em .6em .6em;
  margin-bottom: 1em;
  border-radius: .3em;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px;
  border: solid 1px #ccc;
}

.leader-count {
  margin: 0px 0px 5px 15px;
  flex: 0 0 100%;
}

.leader-total {
  margin: 0px 0px 5px 15px;
  flex: 0 0 100%;
  font-weight: bold;
}

.poll-ratio {
  margin: 0px 0px 5px 15px;
  flex: 0 0 100%;
}

.progress {
  background-color: #f9fafb;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-bottom: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}
